<!-- <!DOCTYPE html>
<html>
<head>
    <title>Request Created</title>
</head>
<body>
    <p>Dear {{ request_type }},</p>
    <p>A new request ({{ doc_number }}) has been created for {{ employee_name }}.</p>
    <p>Reason: {{ reason }}</p>
    <p>Regards,<br/>Your Company</p>
</body>
</html> -->

 <!DOCTYPE html>
<html>
<head>
    <title>Request Approval</title>
</head>
<body>
    <p>Dear {{ recipient_name }},</p>
    <p>You have a new request for approval.</p>
    <p>
        <strong>Request Details:</strong><br>
        Document Number: {{ doc_number }}<br>
        Request Type: {{ request_type }}<br>
        Employee Name: {{ employee_name }}<br>
        Reason: {{ reason }}<br>
    </p>
    <p>
        Please review the request and take action by clicking one of the links below:
    </p>
    <p>
        <a href="{{ approve_url }}">Approve</a> | <a href="{{ reject_url }}">Reject</a>
    </p>
    <p>Thank you.</p>
</body>
</html>  
